{% extends 'base.html.twig' %}

{% block title %}Інформація про погоду{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Інформація про погоду</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <form action="{{ path('weather_show') }}" method="get" class="mt-4">
            <div class="form-group">
                <label for="city">Введіть назву міста:</label>
                <input type="text" name="city" id="city" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Отримати погоду</button>
        </form>
    </div>
{% endblock %} 